<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ChatApp Home</title>
  <link rel="stylesheet" href="../public/styles/home.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="../public/scripts/main-screen.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <div class="container col-4" id="config-messages">
    <div class="row d-flex" id="user-config">
        <img src="../public/images/user-logo.svg" class="img-fluid" id="user-logo">
        <p class="text p-3">Nome Fulano</p>
        <img src="../public/images/text-message.svg" class="img-fluid" id="message-icon"/>
        <img src="../public/images/gear.svg" class="img-fluid" id="gear">
      </div>
      <div class="container" id="search">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
     


  </div>
</body>

</html>